<article class="card-container" *ngIf="cardConfig" >
  <div class="card-container__card-img">
    <img [src]="cardConfig.image" alt="Character Image">
  </div>
  <div class="card-container__card-info">
    <h1>{{ cardConfig.name }}</h1>
    <p>Specie: {{ cardConfig.species }}</p>
    <p>Gender: {{ cardConfig.gender }}</p>

    <p *ngIf="cardConfig.id">Id: {{ cardConfig.id }}</p>
    <p *ngIf="cardConfig.created">Created: {{ cardConfig.created }}</p>
    <p *ngIf="cardConfig.origin">Origin: {{ cardConfig.origin.name }}</p>
    <p *ngIf="cardConfig.status">Status: {{ cardConfig.status }}</p>
    <p *ngIf="cardConfig.location">Last Known location: {{ cardConfig.location.name }} </p>
    <p *ngIf="cardConfig.episode">First seen in: {{ cardConfig.episode[0] }}</p>
    <p *ngIf="cardConfig.url">Url: {{ cardConfig.url }}</p>

  </div>
</article>




