.form__container {
  background-color: rgb(60, 62, 68);
  border-radius: 8px;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  padding: 20px;

  &--block {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 8px;
  }

  &--control {
    border-radius: 8px;
    margin-right: 3px;
    padding: 6px;
  }

  &--filter {
    border-radius: 8px;
    margin-right: 3px;
  }

  &--label {
    margin: 6px;
  }

  &--span {
    color: red;
    margin-top: 8px;
  }

  &--reset {
    border-radius: 8px;
    margin-left: 3px;
  }
}
