<form [formGroup]="filterForm">
  <div class="form-container">
    <div class="">
      <label class="form-label">Gender:</label>
      <select
        formControlName="gender"
        value="Select an option"
        class="form-control"
      >
        <option *ngFor="let gender of genders" [value]="gender">
          {{ gender }}
        </option>
      </select>
      <button [disabled]="!filterForm.valid" (click)="emitForm()">
        Filter
      </button>
      <button (click)="resetForm()">Reset</button>
    </div>
  </div>
</form>
